extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum nihil delectus ex eligendi necessitatibus odit ipsam, incidunt accusantium eaque a optio mollitia? Placeat enim perspiciatis tenetur dolorum optio est minima, molestiae beatae, sed quaerat possimus? Rerum temporibus repellat magnam quidem, officiis praesentium? Sapiente saepe vel autem necessitatibus id perferendis. Accusamus.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic vel, dolorem dolor quod sed harum consequatur itaque quibusdam id veritatis?
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4   
                    img.img-fluid.mb-4(src="img/icono_seguridad.svg", alt="")
                    h2.mb-4 Super Seguridad
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus aliquam maxime unde voluptatum velit sunt quo voluptatibus eveniet quibusdam nisi.
                .col-md-4   
                    img.img-fluid.mb-4(src="img/icono_destinos.svg", alt="")
                    h2.mb-4 Muchos Destinos
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus aliquam maxime unde voluptatum velit sunt quo voluptatibus eveniet quibusdam nisi.
                .col-md-4   
                    img.img-fluid.mb-4(src="img/icono_precios.svg", alt="")
                    h2.mb-4 Los mejores Precios
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus aliquam maxime unde voluptatum velit sunt quo voluptatibus eveniet quibusdam nisi.
