blockquote.text-center Lee Sobre Nuestros Clientes
.row.testimoniales
    each testimonial in testimoniales
        .col-md-6.col-lg-4.mb-4
            .card
                .card-body
                    blockquote.blockquote
                    p.mb-0
                        |  #{testimonial.mensaje.substr(0,500)}
                    footer.blockquote-footer
                        | #{testimonial.nombre}